In [1]:
import pandas as pd

In [ ]:
dpath

In [5]:
data = pd.read_excel('/Users/nicolasf/operational/clidesc/WorldBank/data/station_list_Solomon.xlsx', index_col=0)

In [6]:
data.head()

,index,id,station_no,status_id,time_zone,id_aero,id_imo,id_marine,id_wmo,id_hydro,...,catchment,authority,lu_0_100m,lu_100m_1km,lu_1km_10km,soil_type,surface_type,critical_river_height,location_datum,location_epsg
0,0,38,CENT0010,2,SB,NaN,NaN,NaN,NaN,NaN,...,NaN,Livers Company Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,29,CHOI0010,1,SB,NaN,NaN,NaN,91502.0,NaN,...,NaN,SIMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,39,CHOI0020,2,SB,NaN,NaN,NaN,NaN,NaN,...,NaN,Traders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,35,CHOI0030,2,SB,NaN,NaN,NaN,NaN,NaN,...,NaN,SIMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,130,CHOI0032,3,SB,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data = data.loc[:,['name_primary','name_secondary','latitude','longitude']]

In [11]:
data.tail()

   name_primary name_secondary  latitude  longitude
37        Seghe            NaN   -8.5667   157.8833
38         Uepi            NaN   -8.4167   157.9500
39       Batuna            NaN   -6.5833   158.1167
40       Gibiri       AutoRain   -7.7058   156.7256
41      Mbeulah       AutoRain   -8.2632   157.4279

In [12]:
data.to_csv('/Users/nicolasf/operational/clidesc/WorldBank/data/station_list_Solomon_lat_lon.csv')